.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
    left: 10;
    background-color: greenyellow;

    /* Animation */
    animation-name: ghumakkad;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

@keyframes ghumakkad{
    from{
        left: 10px;
    }
    to {
        left: 300px;
    }
}

@keyframes ghumakkad {
    0% {left: 10px; top: 0px;}
    50% {left: 150px; top: 100px;}
    100% {left: 300px; top: 0px;}
}